chromadb==0.5.3
sentence-transformers==3.0.1
groq
streamlit
python-dotenv
loguru
rich
openai==1.35.3
langchain==0.2.6
langchain-community==0.2.6
langchain-openai==0.1.14
pandas==2.2.2
numpy==1.26.4
fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
tqdm==4.66.4